<section class="content dashboard">
  <div class="container">
    <div class="page-header">
      <h1>Devices Page</h1>
      <h3>View all devices or details about certain ones. View details to manage them.</h3>
    </div>
    <div class="table" *ngIf="projectId && devices && devices.devices">
      <div class="table-header table-row">
        <div class="table-cell">Created At</div>
        <div class="table-cell">Project</div>
        <div class="table-cell">OS</div>
        <div class="table-cell">Users</div>
        <div class="table-cell">Updated At</div>
      </div>
      <div class="table-row" *ngIf="devices.devices.length == 0">
        <div class="table-cell">No data at this time. Please add a new device here.</div>
      </div>
      <div class="table-row" *ngFor="let device of devices.devices">
        <div class="table-cell" [innerHtml]="device.created_at | date:'short'"></div>
        <div class="table-cell" [innerHtml]="device.hostname"></div>
        <div class="table-cell" [innerHtml]="device.operating_system.name"></div>
        <div class="table-cell"><a routerLink="/users">{{device.user}}</a></div>
        <div class="table-cell" [innerHtml]="device.updated_at | date:'short'"></div>
      </div>
    </div>
    <div class="select-project" *ngIf="!projectId && projects">
      <h4>Please choose a project to view devices</h4>
      <select name="singleSelect" id="singleSelect" (change)="projectSelectChange($event.target.value)">
        <option value="">-- Choose a Project --</option>
        <option *ngFor="let project of projects.projects" value="{{project.id}}">{{project.name}}</option>
      </select>
    </div>
  </div>
</section>
