<section class="content">
  <div class="container">
    <div class="table">
      <div class="table-header table-row">
        <div class="table-cell">Created At</div>
        <div class="table-cell">Project</div>
        <div class="table-cell">Devices</div>
        <div class="table-cell">Users</div>
        <div class="table-cell">Updated At</div>
      </div>
      <div class="table-row" *ngFor="let project of projects.projects">
        <div class="table-cell" [innerHtml]="project.created_at | date:'short'"></div>
        <div class="table-cell" [innerHtml]="project.name"></div>
        <div class="table-cell"><a routerLink="/devices">{{project.devices.length}}</a></div>
        <div class="table-cell"><a routerLink="/users">{{project. members.length}}</a></div>
        <div class="table-cell" [innerHtml]="project.updated_at | date:'short'"></div>
      </div>
    </div>
  </div>
</section>